@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*
{ 
    scrollbar-width: thin;
    scrollbar-color: #9353d3 #1a1a1a; /* thumb color, track color */
}

/* For Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
    background: #1a1a1a;
}

*::-webkit-scrollbar-thumb {
    background: #9353d3;
    border-radius: 4px;
}

body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    border: 0;
    background-color: #121212;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    scrollbar-color: #9353d3;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
}


/*Search bar*/
/* Use search-container to make them horizontal*/
.search-container {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}

.search-box {
    --width-of-input: 200px;
    --border-height: 1px;
    --border-before-color: rgba(221, 221, 221, 0.39);
    --border-after-color: #d9b0ff;
    --input-hovered-color: #4985e01f;
    position: relative;
    width: var(--width-of-input);
}

/* styling of Input */
.input {
    color: #fff;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
    border-radius: 5px;
    /* Added border-radius for rounded corners */
}

/* styling of animated border */
.input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

/* Hover on Input */
input:hover {
    background: var(--input-hovered-color);
}

input:focus {
    outline: none;
}

/* here is code of animated border */
input:focus~.input-border {
    width: 100%;
}




/* Container classes */
.container {
    width: 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
}

.content {
    width: 100%;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Buttons */
/*glowing button for hero page */
.glow-button {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    max-width: 100%;
}

.glow-button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.glow-button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

.glow-button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}

.book-now-btn {
    width: 120px;
    height: 50px;
    cursor: pointer;
    color: #FFF;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: #100720;
    transition: 0.1s;
    background: radial-gradient(circle farthest-corner at 10%, rgba(100, 61, 136) 17.8%, rgba(2, 245, 255, 1) 100.2%);
}